<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>OTP</title>
</head>

<body>
  <nav>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </nav>

  <section>
    <button onclick="showOtpForm()">Add new OTP</button>

    <div class="otp-cnt">
      {{ range .otps }}
        <div onclick="copyOtp(this)" class="otp-card" data-id="{{ .Id }}">
          <div class="timer-bar-cnt">
            <div class="timer-bar" data-period="{{ .Period }}"></div>
          </div>
          <span>{{ .Label }}</span>
          <span class="otp-value">&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;</span>
        </div>
      {{ end }}
    </div>
  </section>

  <div class="modal" id="add-otp">
    <form class="modal-content" action="/otp/add" method="post">
      <h2>Add new OTP</h2>
      <label>Label</label>
      <input type="text" id="label" name="label" required>
      <label>Secret</label>
      <input type="text" id="secret" name="secret" required>
      <button class="highlight" type="submit">Save</button>
      <button type="button" onclick="hideOtpForm()">Cancel</button>
    </form>
  </div>

  <script src="/static/js/otp.js"></script>
  <script src="/static/js/timer.js"></script>
</body>
</html>
