<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/8fa045ff22.js" crossorigin="anonymous"></script>
  <title>TeamOTP</title>
</head>

<body>
  <header>
    <span>
      <i class="fa-regular fa-user"></i>
      {{ .username }}
    </span>

    <div class="search-bar">
      <input type="text" id="search-input" placeholder="coming soon" disabled>
    </div>

    <form action="/logout" method="get">
      <button id="btn-signout" class="unpopular" type="submit">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sign out
      </button>
    </form>
  </header>

  <section>
    <form action="/otp/qrscan" method="get">
      <button class="highlight" type="submit">Add new OTP</button>
    </form>

    <div class="otp-cnt">
      {{ range .otps }}
        <div onclick="copyOtp(this)" class="otp-card" data-id="{{ .Id }}">
          <div class="timer-bar-cnt">
            <div class="timer-bar" data-period="{{ .Period }}"></div>
          </div>
          <span class="otp-label"><b>{{ .Issuer }}</b> ({{ .Account }})</span>
          <span class="otp-value">&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;</span>
        </div>
      {{ end }}
    </div>
  </section>

  <script src="/static/js/main.js"></script>
  <script src="/static/js/otp.js"></script>
  <script src="/static/js/timer.js"></script>
</body>
</html>
