:root {
	--pri-fg: #ffffff;
	--pri-bg: #f3f6f9;
	--pri-highlight: #32c800; /* 50, 200, 0*/
	--shadow-fg: 0 4px 8px rgba(0, 0, 0, 0.1);
	--shadow-highlight: 0 4px 8px rgba(0, 0, 0, 0.3);
	--pad: 6px;
	--pad-2: calc(var(--pad) * 2);
	--pad-3: calc(var(--pad) * 3);
	--pad-4: calc(var(--pad) * 4);
}

html, body {
	font-family: Arial, sans-serif;
	background: var(--pri-bg);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 15px;
	margin-bottom: 5px;
}

input,
span,
button {
	font-size: 1rem;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: baseline;
}

header form {
	display: contents;
}

header span:hover {
	cursor: default;
}

header,
section {
	margin-bottom: 15px;
}

section {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

footer {
	display: flex;
	justify-content: center;
}

footer a {
	font-family: 'Consolas', Courier, monospace;
	text-decoration: none;
	color: black;
}

.login-flex-center {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: start;
	padding-top: 15vh;
}

.login-cnt {
	border: 1px solid var(--pri-highlight);
	background: var(--pri-fg);
	width: 25vw;
	min-width: 300px;
	max-width: 500px;
	padding: var(--pad-3);
	border-radius: var(--pad-2);
	text-align: center;
}

.login-cnt fieldset {
	text-align: left;
	border-radius: var(--pad);
	margin: var(--pad-2) 0;
	padding: var(--pad-2);
	padding-top: calc(var(--pad) * 0.5);
}

.login-cnt fieldset:focus-within {
	border: 2px solid var(--pri-highlight);
}

.login-cnt fieldset legend {
	color: #5c5c5c;
}

.login-cnt input {
	width: 100%;
	border: none;
}

.login-cnt input:focus {
	outline: none;
}


button.unpopular {
	border: none;
	background-color: inherit;
	padding: 0;
}

button.unpopular:hover {
	text-decoration: underline;
	background-color: inherit;
}

a.btn {
	text-decoration: none;
	color: buttontext;
	background-color: buttonface;
}

.flex-center button {
	width: 100%;
}

button, a.btn {
	padding: var(--pad) var(--pad-2);
	border: 1px solid;
	border-radius: var(--pad);
	cursor: pointer;
}

button:hover, a.btn:hover {
	background: hsl(0, 0%, 90%);
}

.error {
	border-radius: var(--pad);
	padding: var(--pad);
	color: #c7000a;
	background-color: #FFBABA;
}

.otp-cnt {
	flex: 1;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
	gap: 10px;
	align-content: start;
	padding: 10px 0;
}

.otp-card {
	background: var(--pri-fg);
	border-radius: 10px;
	box-shadow: var(--shadow-fg);
	padding: 10px;
	text-align: center;
	align-self: start;
}

.otp-card:hover {
	box-shadow: var(--shadow-highlight);
	cursor: copy;
}

.otp-card span {
	display: block;
}

.otp-label {
	font-size: 1.1rem;
}

.otp-value {
	font-family: 'Consolas', Courier, monospace;
	font-size: 1.3rem;
}

@keyframes timer {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}

.timer-bar-cnt {
	height: 5px;
	margin-bottom: 10px;
}

.timer-bar {
	height: 100%;
	background: black;
	animation-name: timer;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform-origin: left center;
}

.highlight {
	background-color: var(--pri-highlight);
	font-weight: bold;
	color: white;
	padding: var(--pad-2) var(--pad-4);
}

.highlight:hover {
	background-color: color-mix(in srgb, var(--pri-highlight) 90%, black 10%);
}
